
.wordle{


            &--container{
                display: flex;
                align-items: center;
            }


            &--letters{
                display: flex;
                text-align: center;
                align-items: center;
                border: 2px solid grey;
                padding: 25px;
                height: 1rem;
                width: 1rem;
                font-size: 1.3rem;
                margin: 10px;
            }
    }


